.uk-container.uk-container-center
  .ul-grid
    .uk-panel
      %ul.uk-breadcrumb.uk-margin-top
        -if @activelink == '/'
          %li.uk-active
            %span Россия
        -else
          %li
            %a{:href=>"/#orders"} Россия
        -if session[:siteregion] && session[:siteregion].size > 0
          -if @activelink == '/region'
            %li.uk-active
              %span #{session[:siteregion]}
          -else
            %li
              %a{:href=>"/region/"+session[:siteregion]+'#orders'} #{session[:siteregion]}
        -if session[:sitearea] && session[:sitearea].size > 0
          -if @activelink == '/area'
            %li.uk-active
              %span #{session[:sitearea]}
          -else
            %li
              %a{:href=>"/area/"+session[:sitearea]+"#orders"} #{session[:sitearea]}
        -if session[:sitelocation] && session[:sitelocation].size > 0
          -if @activelink == '/location'
            %li.uk-active
              %span #{session[:sitelocation]}
          -else
            %li
              %a{:href=>"/location/"+session[:sitelocation]+"#orders"} #{session[:sitelocation]}
      -if @orders_at_mainpage && @orders_at_mainpage.size > 0
        -@orders_at_mainpage.each do |order|
          .uk-panel.uk-panel-box
            / .uk-text-small.uk-text-left
            %h4
              %a{:href=>"/order/"+order.id.to_s}
                Заявка № #{order.id}
              %i.uk-icon-eye
              #{order.views}
              %i.uk-icon-comments-o
              #{Offer.count(:order_id => order.id)}
            %h3.uk-margin-top-remove #{order.title}
            %table.uk-table.uk-table-condensed
              %tbody
                %tr
                  %td.uk-width-1-4
                    %h4.uk-margin-bottom-remove Населенный пункт
                  %td.uk-width-3-4
                    #{fulllocation(order)}
                %tr
                  %td.uk-width-1-4
                    %h4.uk-margin-bottom-remove Автомобиль
                  %td.uk-width-3-4
                    #{vehicleinfo(order)}
                -if order.tags.size > 0
                  %tr
                    %td.uk-width-1-4
                      %h4.uk-margin-bottom-remove Ключевые слова
                    %td.uk-width-3-4
                      - order.tags.each do |t|
                        %span.uk-badge #{t.tag}
                %tr
                  %td.uk-width-1-4
                    %h4.uk-margin-bottom-remove Описание
                  %td.uk-width-3-4
                    #{order.subject}
          %br
        %ul.uk-pagination
          -if @start_page > 1
            %li
              -if @activelink == '/'
                %a{:href=>"/?page=1"} 1
              -if session[:siteregion] && session[:siteregion].size > 0
                -if @activelink == '/region'
                  %a{:href=>"/region/"+session[:siteregion]+"?page=1"} 1
              -if session[:sitearea] && session[:sitearea].size > 0
                -if @activelink == '/area'
                  %a{:href=>"/area/"+session[:sitearea]+"?page=1"} 1
              -if session[:sitelocation] && session[:sitelocation].size > 0
                -if @activelink == '/location'
                  %a{:href=>"/location/"+session[:sitelocation]+"?page=1"} 1
            %li
              %span ...
          -@pagination.each do |p|
            -if p == @current_page
              %li.uk-active
                %span
                  #{p}
            -else
              %li
                -if @activelink == '/'
                  %a{:href=>"/?page="+p.to_s} #{p}
                -if session[:siteregion] && session[:siteregion].size > 0
                  -if @activelink == '/region'
                    %a{:href=>"/region/"+session[:siteregion]+"?page="+p.to_s} #{p}
                -if session[:sitearea] && session[:sitearea].size > 0
                  -if @activelink == '/area'
                    %a{:href=>"/area/"+session[:sitearea]+"?page="+p.to_s} #{p}
                -if session[:sitelocation] && session[:sitelocation].size > 0
                  -if @activelink == '/location'
                    %a{:href=>"/location/"+session[:sitelocation]+"?page="+p.to_s} #{p}
          -if @end_page < @total_pages
            %li
              %span ...
            %li
              -if @activelink == '/'
                %a{:href=>"/?page="+total_pages.to_s} #{$total_pages}
              -if session[:siteregion] && session[:siteregion].size > 0
                -if @activelink == '/region'
                  %a{:href=>"/region/"+session[:siteregion]+"?page="+total_pages.to_s} #{$total_pages}
              -if session[:sitearea] && session[:sitearea].size > 0
                -if @activelink == '/area'
                  %a{:href=>"/area/"+session[:sitearea]+"?page="+total_pages.to_s} #{$total_pages}
              -if session[:sitelocation] && session[:sitelocation].size > 0
                -if @activelink == '/location'
                  %a{:href=>"/location/"+session[:sitelocation]+"?page="+total_pages.to_s} 1
      -else
        .uk-panel.uk-panel-box
          %h3
            Нет активных заявок в выбранной территории