.uk-container.uk-container-center
  %br
  / %h1#fullname.uk-text-left #{@current_user.fullname}
  .uk-grid
    .uk-width-2-3
      .uk-panel.uk-panel-box
        %h1.uk-panel-title.uk-text-right Личный кабинет
        %ul.uk-tab.uk-tab-grid.data-uk-tab{"data-uk-tab"=>"{connect:'#operation'}"}
          %li.uk-width-1-2.uk-active
            %a{:href=>""}
              %strong Профиль
              %span#editprofile.uk-text-small{:style => "position: relative; bottom: 10px;"}
                %i.uk-icon-edit-sign
                Изменить
          %li.uk-width-1-2
            %a{:href=>""}
              %strong Предложения
              / %span#addorder.uk-text-small{:style => "position: relative; bottom: 10px;"}
              /   %i.uk-icon-plus-sign-alt
              /   Нов
        %ul#operation.uk-switcher.uk-margin
          %li
            %form.uk-form.uk-form-horizontal{:action=>"/updateprofile", :method=>"post", :enctype=>"multipart/form-data"}
              .uk-form-row{:style=>"margin-bottom: 15px;"}
                %label.uk-form-label{:for=>"avatar"} Фотография
                -if @current_user.avatar.present?
                  .uk-form-controls
                    %img{:src => @current_user.avatar.avatar64.url}
                    %input#avatarfrm{:type=>"file", :name=>"avatar", :hidden=>"true"}
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %span#avatarlbl Нет
                    %input#avatarfrm{:type=>"file", :name=>"avatar", :hidden=>"true"}
              .uk-form-row
                %label.uk-form-label{:for=>"familyname"} Фамилия
                .uk-form-controls
                  %input#familyname.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.familyname, :name=>"familyname", :readonly=>""}
              .uk-form-row
                %label.uk-form-label{:for=>"name"} Имя
                .uk-form-controls
                  %input#name.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.name, :name=>"name", :readonly=>""}
              .uk-form-row
                %label.uk-form-label{:for=>"fathersname"} Отчество
                .uk-form-controls
                  %input#fathersname.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.fathersname, :name=>"fathersname", :readonly=>""}
              .uk-form-row
                %label.uk-form-label{:for=>"description"} Описание деятельности
                .uk-form-controls
                  %textarea#description.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"description", :readonly=>"", :rows=>"6"}
                    #{@current_user.description}
              .uk-form-row
                %label.uk-form-label{:for=>"description"} Ключевые слова
                .uk-form-controls
                  - if @tags.size > 0
                    %input#tags.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"tags", :readonly=>"", :value=>@tags}
                  - else
                    %input#tags.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"tags", :readonly=>"", :value=>"Не определены"}
              .uk-form-row
                %label.uk-form-label{:for=>"email"} Электронная почта
                .uk-form-controls
                  %input#email.uk-width-1-1.editable{:type=>"email", :required=>"", :value=>@current_user.email, :name=>"email", :readonly=>""}
              .uk-form-row
                %label.uk-form-label{:for=>"phone"} Мобильный номер
                .uk-form-controls
                  %input#phone.uk-width-1-1.editable{:type=>"text", :value=>@current_user.phone, :name=>"phone", :readonly=>""}
              .uk-form-row
                %label.uk-form-label{:for=>"location"} Населенный пункт
                .uk-form-controls
                  %input#location.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>Placement.get(@current_user.placement_id).location + (Placement.get(@current_user.placement_id).area.length > 1 ? ", " + Placement.get(@current_user.placement_id).area : "") + (Placement.get(@current_user.placement_id).region.length > 1 ? ", " + Placement.get(@current_user.placement_id).region : ""), :name=>"location", :readonly=>""}
                  %input#locationtitle{:type=>"text", :name=>"locationtitle", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).location}
                  %input#area{:type=>"text", :name=>"area", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).area}
                  %input#region{:type=>"text", :name=>"region", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).region}
              .uk-form-row
                %label.uk-form-label{:for=>"maplabel"} Расположение на карте
                -if @current_user.mapx && @current_user.mapy
                  .uk-form-controls
                    #maplabel{:style=>"margin-top: 5px;"}
                      %a{:href=>"#openmap", "data-uk-modal" => "{bgclose:false}"} Показать
                -else
                  .uk-form-controls
                    #maplabel{:style=>"margin-top: 5px;"}
                      %a{:href=>"#openmap", "data-uk-modal" => "{bgclose:false}"} Определить
              .uk-form-row
                %label.uk-form-label{:for=>"site"} На сайте с
                .uk-form-controls
                  %input#site.uk-width-1-1{:type=>"text", :required=>"", :value=>@current_user.created_at.strftime("%d.%m.%Y"), :readonly=>""}
              .uk-form-row
                %label.uk-form-label{:for=>"pass"} Пароль
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px;"}
                    %a{:href=>"#changepass", "data-uk-modal" => "{bgclose:false}"} Изменить пароль
              %br
              / %a#editprofile.uk-button.uk-button-primary.uk-align-center.uk-text-center{:style => "cursor: pointer;"} Изменить профиль
              .uk-grid
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#apply.uk-button.uk-button-success{:type=>"submit", :style=>"display: none;"} Сохранить изменения
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#cancel.uk-button{:type=>"reset", :style=>"display: none;"} Отменить изменения
          %li
            - if @myactiveoffers.size < 1
              %h3 Вы не разместили ни одного предложения по активным заявкам
            - else
              %h3 Активные заявки, по которым Вы разместили предложения
              .uk-grid
                .uk-width-1-3
                  %p.uk-text-small Заголовок
                .uk-width-2-3
                  .uk-grid
                    .uk-width-3-4
                      %p.uk-text-small Описание
                    .uk-width-1-4
                      %p.uk-text-center.uk-text-small Окончание
                - @myactiveoffers.each do |o|
                  .uk-width-1-3
                    %p.uk-text-truncate
                      %a{:href=>"/order/"+o.id.to_s} #{o.title}
                  .uk-width-2-3
                    .uk-grid
                      .uk-width-3-4
                        %p.uk-text-truncate #{o.subject}
                      .uk-width-1-4
                        -if o.td.strftime("%d.%m.%Y") != "01.01.3000"
                          %p.uk-text-center #{o.td.strftime("%d.%m.%Y")}
                        - else
                          %p.uk-text-center -
            %hr
            - if @myclosedoffers.size < 1
              %h3 Нет закрытых заявок, по которым вы размещали предложения
            - else
              %h3 Закрытые заявки, по которым вы размещали предложения
              .uk-grid
                .uk-width-1-3
                  %p.uk-text-small Заголовок
                .uk-width-2-3
                  .uk-grid
                    .uk-width-3-4
                      %p.uk-text-small Описание
                    .uk-width-1-4
                      %p.uk-text-center.uk-text-small Окончание
                - @myclosedoffers.each do |o|
                  .uk-width-1-3
                    %p.uk-text-truncate
                      %a{:href=>"/order/"+o.id.to_s} #{o.title}
                  .uk-width-2-3
                    .uk-grid
                      .uk-width-3-4
                        %p.uk-text-truncate #{o.subject}
                      .uk-width-1-4
                        %p.uk-text-center #{o.td.strftime("%d.%m.%Y")}
            / %a.uk-button.uk-button-primary.uk-align-center.uk-text-center{:href=>"/neworder"} Создать заявку
    .uk-width-1-3
      .uk-panel.uk-panel-box
        %h2 Yandex Direct AD

#changepass.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h1.uk-text-center Изменение пароля
    %hr
    %form.uk-form.uk-form-horizontal{:action => "/changepassword", :method => "post"}
      .uk-form-row
        %label.uk-form-label{:for=>"oldpass"} Текущий пароль
        %input#oldpass{:type=>"password", :required=>"", :name=>"oldpass"}
      .uk-form-row
        %label.uk-form-label{:for=>"newpass1"} Новый пароль
        %input#newpass1{:type=>"password", :required=>"", :name=>"newpass1"}
      .uk-form-row
        %label.uk-form-label{:for=>"newpass2"} Повторите новый пароль
        %input#newpass2{:type=>"password", :required=>"", :name=>"newpass2"}
      %br
      %button#submit.uk-button.uk-button-primary.uk-align-center{:type=>"submit"} Изменить пароль

#openmap.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h3.uk-text-center Переместите крассный указатель в точку вашего расположения
    %hr
    #map{:style =>"width:550px; height:300px"}
    %form.uk-form.uk-form-horizontal{:action => "/setmap", :method => "post"}
      -if @current_user.mapx && @current_user.mapy
        %input#mapx{:type=>"text", :name=>"mapx", :hidden=>"true", :value=>@current_user.mapx}
        %input#mapy{:type=>"text", :name=>"mapy", :hidden=>"true", :value=>@current_user.mapy}
      -else
        %input#mapx{:type=>"text", :name=>"mapx", :hidden=>"true"}
        %input#mapy{:type=>"text", :name=>"mapy", :hidden=>"true"}
      %br
      %button#submit.uk-button.uk-button-primary.uk-align-center{:type=>"submit"} Ок

:javascript
  $(function() {
    $('#editprofile').click(function() {
      $('.editable').removeAttr("readonly");
      $('.editable').addClass("uk-form-success");
      $('#editprofile').css("display", "none");
      $('#apply').css("display", "inline-block");
      $('#cancel').css("display", "inline-block");
      $('#avatarfrm').removeAttr("hidden");
      $('#avatarlbl').css("display", "none");

      $('#tags').selectize({
        valueField: 'tag',
        labelField: 'tag',
        searchField: 'tag',
        plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
          return {
            tag: input
          }
        },
        render: {
          option: function(data, escape) {
            return '<div>"' + escape(data.tag) + '"</div>';
          }
        },
        load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
            url : '/ajax/tags.json',
            dataType : 'json',
            success: function(res) {
              callback(res.tags);
            }
          });
        }
      });
      
    });

    $('#cancel').click(function() {
      $('.editable').attr("readonly","");
      $('.editable').removeClass("uk-form-success");
      $('#editprofile').css("display", "inline-block");
      $('#apply').css("display", "none");
      $('#cancel').css("display", "none");
      $('#avatarfrm').attr("hidden", "true");
      $('#avatarlbl').css("display", "inline-block");

    });

    $('#location').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1&count=5",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#locationtitle').val(ui.item.value);
        $('#area').val(ui.item.area);
        $('#region').val(ui.item.region);
        regionselected = true;
      }
    });

    //$('#addorder').click(function() {
    //  window.location.href = "/neworder";
    //});

    ymaps.ready(init);

    function init() {
      var location = $('#location').val();
      var familyname = $('#familyname').val(), name = $('#name').val(), fathersname = $('#fathersname').val(), email = $('#email').val()
      var coords;
      var mapx = $('#mapx').val(), mapy = $('#mapy').val();
      var myGeocoder = ymaps.geocode(location, {results: 1});
      myGeocoder.then(function (res) {
        coords =  res.geoObjects.get(0).geometry.getCoordinates();
        if (mapx>0 && mapy>0) {coords = [mapx,mapy];}
        var myMap = new ymaps.Map('map', {
            center: coords,
            zoom: 12,
            controls: ['zoomControl', 'searchControl']
        });
        //var mySearch = new ymaps.control.SearchControl({ noPlacemark: 'true' });
        //myMap.controls.add(mySearch);

        var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
          balloonContentBody: [
            '<strong>',familyname,'</strong>',
            '<br/>',
            '<strong>',name,'</strong>',
            '<br/>',
            '<strong>',fathersname,'</strong>',
            '<br/>',
            'Электронная почта: <a href="mailto:">',email,'<a>'
          ].join('')
          }, {
            preset: 'islands#redDotIcon',
            draggable: true
          });

        myMap.geoObjects.add(myPlacemark);
        myMap.geoObjects.events.add('dragend', function (e) {
          // Получение ссылки на дочерний объект, на котором произошло событие
          var object = e.get('target');
          $('#mapx').val(object.geometry.getCoordinates()[0]);
          $('#mapy').val(object.geometry.getCoordinates()[1]);
        });
      });
    }
  });