.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-2-3
      .uk-panel.uk-panel-box
        %h1.uk-text-right Личный кабинет
        %ul.uk-tab.uk-margin-bottom{"data-uk-tab"=>"{connect:'#operation'}"}
          %li.uk-active
            %a{:href=>""} Мои предложения
          %li
            %a{:href=>""} Уведомления
            - if @newmessages > 0
              .uk-badge.uk-badge-notification.uk-badge-danger
                #{@newmessages}
          %li
            %a{:href=>""} Профиль
          %li
            %a{:href=>""} Настройки
        %ul#operation.uk-switcher.uk-margin
          %li#offers
            %ul.uk-tab.uk-margin-bottom.uk-tab-flip{"data-uk-tab"=>"{connect:'#alloffers'}"}         
              %li
                %a{:href=>"#"}
                  Архив              
              %li.uk-active
                %a{:href=>"#"}
                  Действующие
            %ul#alloffers.uk-switcher
              %li
                - if @myclosedoffers.size < 1
                  %h3 Нет архивных предложений
                - else
                  .uk-width-1-1
                    %table.uk-table
                      %thead
                        %tr
                          %th.uk-width-4-10
                            Исходная заявка
                          %th.uk-width-4-10
                            Описание
                          %th.uk-width-2-10
                            Окончание
                      %tbody
                      - @myclosedoffers.each do |o|
                        %tr
                          %td
                            .uk-width-4-10
                              %a{:href=>"/order/"+o.order.id.to_s} #{o.order.title}                          
                          %td
                            .uk-width-4-10
                              //.uk-text-truncate #{o.subject}
                          %td
                            .uk-width-2-10
                              //.uk-text-center #{o.td.strftime("%d.%m.%Y")}           
                  .uk-grid
                    .uk-width-1-3
                      %p.uk-text-small Заголовок
                    .uk-width-2-3
                      .uk-grid
                        .uk-width-3-4
                          %p.uk-text-small Описание
                        .uk-width-1-4
                          %p.uk-text-center.uk-text-small Окончание
                    - @myclosedoffers.each do |o|
                      .uk-width-1-3
                        %p.uk-text-truncate
                          %a{:href=>"/order/"+o.order.id.to_s} #{o.order.title}
                      .uk-width-2-3
                        .uk-grid
                          .uk-width-3-4
                            //%p.uk-text-truncate #{o.subject}
                          .uk-width-1-4
                            //%p.uk-text-center #{o.td.strftime("%d.%m.%Y")}
              %li
                - if @myactiveoffers.size < 1
                  %h3 Нет действующих предложений
                - else
                  .uk-width-1-1
                    %table.uk-table
                      %thead
                        %tr
                          %th.uk-width-4-10
                            Предложение
                          %th.uk-width-3-10.uk-text-center
                            Дата подачи
                          %th.uk-width-3-10.uk-text-center
                            Окончание
                      %tbody
                      - @myactiveoffers.each do |o|
                        %tr
                          %td
                            %a{:href=>"/offer/"+o.id.to_s} Предложение #{o.id}
                          %td.uk-text-center
                            #{o.fd.strftime("%d.%m.%Y")}
                          %td
                            -if o.fd != o.td
                              #{o.fd.strftime("%d.%m.%Y")}
                            -else
                              .uk-text-center -
          %li#notifications
            %ul.uk-tab.uk-margin-bottom.uk-tab-flip{"data-uk-tab"=>"{connect:'#allnotifications'}"}
              %li
                %a{:href=>"#"}
                  Архив              
              %li.uk-active
                %a{:href=>"#"}
                  Входящие
            %ul#allnotifications.uk-switcher   
              %li
                - if @archivedmessages.size < 1
                  %h3 У вас нет архивных уведомлений
                - else
                  %table.uk-table
                    %thead
                      %tr
                        %th
                        %th
                          Тема
                        %th
                          Отправитель
                        %th
                          Дата
                        /%th
                        /  Сообщение
                    %tbody
                      - @archivedmessages.each do |m|
                        %tr
                          %td
                            -if m.unread
                              .uk-badge
                                Новое
                          %td
                            %a{:href=>"/message/"+m.id.to_s}
                              -case m.type
                                -when "Offer"
                                  Новое предложение
                          %td
                            -if m.sender.id != 1
                              %a{:href=>"/user/"+m.sender.id.to_s}
                                #{m.sender.displayedname}
                            -else
                              #{m.sender.displayedname}
                          %td
                            #{m.date.strftime("%d.%m.%Y %H:%M")}
              %li
                - if @messages.size < 1
                  %h3 У вас нет входящих уведомлений
                - else
                  %table.uk-table
                    %thead
                      %tr
                        %th
                        %th
                          Тема
                        %th
                          Отправитель
                        %th
                          Дата
                        /%th
                        /  Сообщение
                    %tbody
                      - @messages.each do |m|
                        %tr
                          %td
                            -if m.unread
                              .uk-badge
                                Новое
                          %td
                            %a{:href=>"/message/"+m.id.to_s}
                              -case m.type
                                -when "Offer"
                                  Новое предложение
                          %td
                            -if m.sender.id != 1
                              %a{:href=>"/user/"+m.sender.id.to_s}
                                #{m.sender.displayedname}
                            -else
                              #{m.sender.displayedname}
                          %td
                            #{m.date.strftime("%d.%m.%Y %H:%M")}
                          /%td
                          /  .uk-width-4-10.uk-text-truncate
                          /    #{m.text}
                          /%td.uk-width-1-10.uk-text-center
                          /  %form{:action => "/message/"+m.id.to_s, :method => "post"}
                          /    %input{:type=>"hidden", :name=>"_method", :value=>"put"}
                          /    %button{:type => "submit"}
                          /      %i.uk-icon-archive{"data-uk-tooltip" => "", :title=>"В архив"}
                          /%td.uk-width-1-10.uk-text-center
                          /  %form{:action => "/message/"+m.id.to_s, :method => "post"}
                          /    %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
                          /    %button{:type => "submit"}
                          /      %i.uk-icon-trash-o{"data-uk-tooltip" => "", :title=>"Удалить"}
          %li#profile
            %form.uk-form.uk-form-horizontal{:action=>"/updateprofile", :method=>"post", :enctype=>"multipart/form-data"}
              .uk-form-row{:style=>"margin-bottom: 15px;"}
                %h3.uk-form-label{:for=>"avatar"} Фотография
                -if @current_user.avatar.present?
                  .uk-form-controls
                    %img{:src => @current_user.avatar.avatar64.url}
                    %input.showwhenedit{:type=>"file", :name=>"avatar", :hidden=>"true"}
                    %input.showwhenedit{:type=>"checkbox", :name=>"delete_avatar", :hidden=>"true"}
                    %span.showwhenedit{:hidden => "true"} Удалить
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %div.hidewhenedit{:style=>"padding-top: 5px; padding-bottom: 5px;"} Нет
                    %input.showwhenedit{:type=>"file", :name=>"avatar", :hidden=>"true"}
              .uk-form-row
                %h3.uk-form-label{:for=>"familyname"} Фамилия
                .uk-form-controls
                  %input#familyname.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.familyname, :name=>"familyname", :readonly=>""}
              .uk-form-row
                %h3.uk-form-label{:for=>"name"} Имя
                .uk-form-controls
                  %input#name.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.name, :name=>"name", :readonly=>""}
              .uk-form-row
                %h3.uk-form-label{:for=>"fathersname"} Отчество
                .uk-form-controls
                  %input#fathersname.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.fathersname, :name=>"fathersname", :readonly=>""}
              %hr
              .uk-form-row
                %h3.uk-form-label{:for=>"description"}
                  Описание деятельности
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите максимально подробно состав предоставляемых услуг, специализацию или любую другую информацию о вашей деятельности"}
                .uk-form-controls
                  %textarea#description.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"description", :readonly=>"", :rows=>"6"}
                    #{@current_user.description}
              .uk-form-row
                %h3.uk-form-label{:for=>"avatar"}
                  Прайслист
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Если у вас есть прайслист на услуги, то вы можете загрузить его для просмотра другими участниками Портала. Можно загружать файлы с расширением doc docx xls xlsx pdf txt"}
                -if @current_user.pricelist.present?
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %a{:href => "https://docs.google.com/viewer?url=http://"+request.host+":"+request.port.to_s+@current_user.pricelist.url} Просмотреть
                    %input.showwhenedit{:type=>"file", :name=>"pricelist", :hidden=>"true"}
                    %input.showwhenedit{:type=>"checkbox", :name=>"delete_pricelist", :hidden=>"true"}
                    %span.showwhenedit{:hidden => "true"} Удалить
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %div.hidewhenedit{:style=>"padding-top: 5px; padding-bottom: 5px;"} Нет
                    %input.showwhenedit{:type=>"file", :name=>"pricelist", :hidden=>"true"}
              .uk-form-row
                %h3.uk-form-label{:for=>"description"}
                  Ключевые слова
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите (или выберите из списка) ключевые слова. Ключевые слова используются при поиске мастеров заказчиками "}
                .uk-form-controls
                  - if @tags.size > 0
                    %input#tags.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"tags", :readonly=>"", :value=>@tags}
                  - else
                    %input#tags.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"tags", :readonly=>"", :value=>"Не определены"}
              %hr
              .uk-form-row
                %h3.uk-form-label{:for=>"email"}
                  Электронная почта
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите корректный адрес электронной почты. Он будет использоваться для входа на Портал и получения уведомлений"}
                .uk-form-controls
                  %input#email.uk-width-1-1.editable{:type=>"email", :required=>"", :value=>@current_user.email, :name=>"email", :readonly=>""}
              .uk-form-row
                %h3.uk-form-label{:for=>"phone"}
                  Мобильный номер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите ваш мобильный номер начиная с '+7' или '8'"}
                .uk-form-controls
                  %input#phone.uk-width-1-1.editable{:type=>"text", :value=>@current_user.phone, :name=>"phone", :readonly=>""}
              %hr
              .uk-form-row
                %h3.uk-form-label{:for=>"location"} Населенный пункт
                .uk-form-controls
                  %input#location.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>Placement.get(@current_user.placement_id).location + (Placement.get(@current_user.placement_id).area.length > 1 ? ", " + Placement.get(@current_user.placement_id).area : "") + (Placement.get(@current_user.placement_id).region.length > 1 ? ", " + Placement.get(@current_user.placement_id).region : ""), :name=>"location", :readonly=>""}
                  %input#locationtitle{:type=>"text", :name=>"locationtitle", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).location}
                  %input#area{:type=>"text", :name=>"area", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).area}
                  %input#region{:type=>"text", :name=>"region", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).region}
              .uk-form-row
                %h3.uk-form-label{:for=>"maplabel"} Расположение на карте
                -if @current_user.mapx && @current_user.mapy
                  .uk-form-controls
                    #maplabel{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                      %a{:href=>"#openmap", "data-uk-modal" => "{bgclose:false}"} Показать
                -else
                  .uk-form-controls
                    #maplabel{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                      %a{:href=>"#openmap", "data-uk-modal" => "{bgclose:false}"} Определить
              %hr
              .uk-form-row
                %h3.uk-form-label{:for=>"site"} На сайте с
                .uk-form-controls
                  %input#site.uk-width-1-1{:type=>"text", :required=>"", :value=>@current_user.created_at.strftime("%d.%m.%Y"), :readonly=>""}
              .uk-form-row
                %h3.uk-form-label{:for=>"pass"} Моя страница
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                    %a{:href=>"/user/" + @current_user.id.to_s} Показать
              %hr
              .uk-form-row
                %h3.uk-form-label{:for=>"pass"} Пароль
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                    %a{:href=>"#changepass", "data-uk-modal" => "{bgclose:false}"} Изменить пароль
              %br
              / %a#editprofile.uk-button.uk-button-primary.uk-align-center.uk-text-center{:style => "cursor: pointer;"} Изменить профиль
              .uk-grid
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#apply.uk-button.uk-button-success{:type=>"submit", :style=>"display: none;"} Сохранить изменения
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#cancel.uk-button{:type=>"reset", :style=>"display: none;"} Отменить изменения
            %button#editprofile.uk-button
              %i.uk-icon-edit
              Изменить          
          %li#settings
            %form.uk-form.uk-form-horizontal{:action=>"/updatesettings", :method=>"post"}
              .uk-form-row{:style=>"margin-top: 5px; margin-bottom: 15px;"}
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Отображать адрес электронной почты
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите отображать ваш адрес электронной почты при просмотре другими участниками Портала вашей личной страницы"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "showemail")
                    %input{:type=>"checkbox", :name=>"showemail", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"showemail"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Отображать мобильный номер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите отображать ваш мобильный номер при просмотре другими участниками Портала вашей личной страницы"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "showphone")
                    %input{:type=>"checkbox", :name=>"showphone", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"showphone"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Дублировать уведомления на электронную почту 
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите дублировать получаемые уведомления на электронную почту"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "sendmessagestoemail")
                    %input{:type=>"checkbox", :name=>"sendmessagestoemail", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"sendmessagestoemail"}
              %button.uk-button.uk-button-success{:type=>"submit"}
                %i.uk-icon-edit
                Сохранить
    .uk-width-1-3
      .uk-panel.uk-panel-box
        %h2 Yandex Direct AD

#changepass.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h1.uk-text-center Изменение пароля
    %hr
    %form.uk-form.uk-form-horizontal{:action => "/changepassword", :method => "post"}
      .uk-form-row
        %label.uk-form-label{:for=>"oldpass"} Текущий пароль
        %input#oldpass{:type=>"password", :required=>"", :name=>"oldpass"}
      .uk-form-row
        %label.uk-form-label{:for=>"newpass1"} Новый пароль
        %input#newpass1{:type=>"password", :required=>"", :name=>"newpass1"}
      .uk-form-row
        %label.uk-form-label{:for=>"newpass2"} Повторите новый пароль
        %input#newpass2{:type=>"password", :required=>"", :name=>"newpass2"}
      %br
      %button#submit.uk-button.uk-button-success.uk-align-center{:type=>"submit"} Изменить пароль

#openmap.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h3.uk-text-center Переместите крассный указатель в точку вашего расположения
    %hr
    #map{:style =>"width:550px; height:300px"}
    %form.uk-form.uk-form-horizontal{:action => "/setmap", :method => "post"}
      -if @current_user.mapx && @current_user.mapy
        %input#mapx{:type=>"text", :name=>"mapx", :hidden=>"true", :value=>@current_user.mapx}
        %input#mapy{:type=>"text", :name=>"mapy", :hidden=>"true", :value=>@current_user.mapy}
      -else
        %input#mapx{:type=>"text", :name=>"mapx", :hidden=>"true"}
        %input#mapy{:type=>"text", :name=>"mapy", :hidden=>"true"}
      %br
      %button#submit.uk-button.uk-button-primary.uk-align-center{:type=>"submit"} Ок

:javascript
  $(function() {
  
    //$('##{session[:activetab]}').addClass("uk-active");
    
    $('#editprofile').click(function() {
      $('.editable').removeAttr("readonly");
      $('.editable').addClass("uk-form-success");
      $('#editprofile').css("display", "none");
      $('#apply').css("display", "inline-block");
      $('#cancel').css("display", "inline-block");
      $('.showwhenedit').removeAttr("hidden");
      $('.hidewhenedit').attr("hidden", "true");

      $('#tags').selectize({
        valueField: 'tag',
        labelField: 'tag',
        searchField: 'tag',
        plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
          return {
            tag: input
          }
        },
        render: {
          option: function(data, escape) {
            return '<div>"' + escape(data.tag) + '"</div>';
          }
        },
        load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
            url : '/ajax/tags.json',
            dataType : 'json',
            success: function(res) {
              callback(res.tags);
            }
          });
        }
      });
      
    });

    $('#cancel').click(function() {
      $('.editable').attr("readonly","");
      $('.editable').removeClass("uk-form-success");
      $('#editprofile').css("display", "inline-block");
      $('#apply').css("display", "none");
      $('#cancel').css("display", "none");
      $('.showwhenedit').attr("hidden", "true");
      $('.hidewhenedit').removeAttr("hidden");
    });

    $('#location').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1&count=5",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#locationtitle').val(ui.item.value);
        $('#area').val(ui.item.area);
        $('#region').val(ui.item.region);
        regionselected = true;
      }
    });

    //$('#addorder').click(function() {
    //  window.location.href = "/neworder";
    //});

    ymaps.ready(init);

    function init() {
      var location = $('#location').val();
      var familyname = $('#familyname').val(), name = $('#name').val(), fathersname = $('#fathersname').val(), email = $('#email').val()
      var coords;
      var mapx = $('#mapx').val(), mapy = $('#mapy').val();
      var myGeocoder = ymaps.geocode(location, {results: 1});
      myGeocoder.then(function (res) {
        coords =  res.geoObjects.get(0).geometry.getCoordinates();
        if (mapx>0 && mapy>0) {coords = [mapx,mapy];}
        var myMap = new ymaps.Map('map', {
            center: coords,
            zoom: 12,
            controls: ['zoomControl', 'searchControl']
        });
        //var mySearch = new ymaps.control.SearchControl({ noPlacemark: 'true' });
        //myMap.controls.add(mySearch);

        var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
          balloonContentBody: [
            '<strong>',familyname,'</strong>',
            '<br/>',
            '<strong>',name,'</strong>',
            '<br/>',
            '<strong>',fathersname,'</strong>',
            '<br/>',
            'Электронная почта: <a href="mailto:">',email,'<a>'
          ].join('')
          }, {
            preset: 'islands#redDotIcon',
            draggable: true
          });

        myMap.geoObjects.add(myPlacemark);
        myMap.geoObjects.events.add('dragend', function (e) {
          // Получение ссылки на дочерний объект, на котором произошло событие
          var object = e.get('target');
          $('#mapx').val(object.geometry.getCoordinates()[0]);
          $('#mapy').val(object.geometry.getCoordinates()[1]);
        });
      });
    }
  });