.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-1-1
      .uk-panel.uk-panel-box
        %h1.uk-text-right Личный кабинет
        %ul.uk-tab.uk-margin-bottom{"data-uk-tab"=>"{connect:'#operation'}"}
          %li#offertab
            %a{:href=>""} Моя ремзона
          %li#notificationtab
            %a{:href=>""}
              Уведомления
              /- if @newmessages > 0
              /  .uk-badge.uk-badge-notification.uk-badge-danger
              /    #{@newmessages}
          %li#chansetab
            %a{:href=>""} Возможности
          %li#profiletab
            %a{:href=>""} Профиль
          %li#settingtab
            %a{:href=>""} Настройки
        %ul#operation.uk-switcher.uk-margin
          %li#offers
            %ul.uk-tab.uk-margin-bottom.uk-tab-flip{"data-uk-tab"=>"{connect:'#alloffers'}"}
              %li
                %a{:href=>"#"}
                  Архив предложений
              %li.uk-active
                %a{:href=>"#"}
                  Мои предложения
            %ul#alloffers.uk-switcher
              %li
                - if @myclosedoffers.size < 1
                  %h3 Нет архивных предложений
                - else
                  - showmyoffers(@myclosedoffers)
              %li
                - if @myactiveoffers.size < 1
                  %h3 Нет действующих предложений
                - else
                  - showmyoffers(@myactiveoffers)
          %li#notifications
            %ul.uk-tab.uk-margin-bottom.uk-tab-flip{"data-uk-tab"=>"{connect:'#allnotifications'}"}
              %li
                %a{:href=>"#"}
                  Архив
              %li.uk-active
                %a{:href=>"#"}
                  Входящие
            %ul#allnotifications.uk-switcher
              %li
                - if @archivedmessages.size < 1
                  %h3 У вас нет архивных уведомлений
                - else
                  - showmymessages(@archivedmessages)
              %li
                - if @messages.size < 1
                  %h3 У вас нет входящих уведомлений
                - else
                  - showmymessages(@messages)
          %li#possibilities
            - if @tags.size == 0
              .uk-alert.uk-alert-danger{"data-uk-alert"=>""}
                %a.uk-alert-close.uk-close{:href=>""}
                %strong Внимание!
                Для корреткной работы функционала поиска подходящих для вас заявок, необходимо указать ключевые слова на вкладке "Профиль" вашего Личного кабинета
            - elsif @mypossibilities.size < 1
              %h3 Нет подходящих заявок
            - if @mypossibilities.size > 0
              .uk-width-1-1
                %table.uk-table
                  %thead
                    %tr
                      %th.uk-width-3-10
                        Заголовок
                      %th.uk-width-3-10
                        Описание
                      %th.uk-width-1-10
                        Срок окончания
                      %th.uk-width-1-10
                        %i.uk-icon-eye{"data-uk-tooltip" => "", :title=>"Просмотры"}
                      %th.uk-width-1-10
                        %i.uk-icon-comments-o{"data-uk-tooltip" => "", :title=>"Предложения"}
                      %th.uk-width-1-10
                        %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title=>"Обсуждения"}
                  %tbody
                    - @mypossibilities.each do |o|
                      %tr
                        %td
                          %a{:href=>"/order/"+o.id.to_s} #{o.title}
                        %td
                          .uk-text-small #{o.subject}
                        %td
                          -if o.td != o.fd
                            .uk-text-center #{o.td.strftime("%d.%m.%Y")}
                          - else
                            .uk-text-center -
                        %td
                          #{o.views}
                        %td
                          #{Offer.count(:order_id => o.id)}
                        %td
                          #{Message.count(:order_id => o.id, :sender.not => current_user, :type => "Question")}
            /%p @current_user.tags.class >>> #{@current_user.tags.class}
            /%p @mypossibilities.tags >>> #{@mypossibilities.tags.class}
            /- @t = @current_user.tags
            /%p Все ключевые слова пользователя:
            /- @current_user.tags.all.each do |o|
            /  %p #{o.tag}
            /%p Все ключевые слова заявок:
            /- @mypossibilities.tags.all.each do |o|
            /  %p #{o.tag}
            /%p Пересечение:
            /=(@mypossibilities.tags.all(:tag => {:usertaging => @current_user.tags})).size
          %li#profile
            %button#editprofile.uk-button.uk-button-success
              %i.uk-icon-edit
              Изменить
            %form#updateprofile.uk-form.uk-form-horizontal{:action=>"/updateprofile", :method=>"post", :enctype=>"multipart/form-data"}
              .uk-form-row{:style=>"margin-bottom: 15px; margin-top: 20px;"}
                %h3.uk-form-label{:for=>"avatar"} Фотография
                -if @current_user.avatar.present?
                  .uk-form-controls
                    %img{:src => @current_user.avatar.avatar64.url}
                    %input.showwhenedit{:type=>"file", :name=>"avatar", :hidden=>"true"}
                    %input.showwhenedit{:type=>"checkbox", :name=>"delete_avatar", :hidden=>"true"}
                    %span.showwhenedit{:hidden => "true"} Удалить
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %div.hidewhenedit{:style=>"padding-top: 5px; padding-bottom: 5px;"} Нет
                    %input.showwhenedit{:type=>"file", :name=>"avatar", :hidden=>"true"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"familyname"} Фамилия
                .uk-form-controls
                  %input#familyname.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.familyname, :name=>"familyname", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"familyname"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"name"} Имя
                .uk-form-controls
                  %input#name.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.name, :name=>"name", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"name"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"fathersname"} Отчество
                .uk-form-controls
                  %input#fathersname.uk-width-1-1.editable{:type=>"text", :value=>@current_user.fathersname, :name=>"fathersname", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"fathersname"}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"sericename"} Название автосервиса
                .uk-form-controls
                  %input#servicename.uk-width-1-1.editable{:type=>"text", :value=>@current_user.servicename, :name=>"servicename", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"servicesname"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"www"} Сайт автосервиса
                .uk-form-controls
                  %input#www.uk-width-1-1.editable{:type=>"text", :value=>@current_user.www, :name=>"www", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"www"}
              .uk-form-row{:style=>"margin-bottom: 15px; margin-top: 20px;"}
                %h3.uk-form-label{:for=>"banner"}
                  Баннер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Вы можете загрузить баннер для вашей персональной страницы. Размер баннера должен быть 728х90 пикселей"}
                -if @current_user.banner.present?
                  .uk-form-controls
                    %img{:src => @current_user.banner.url}
                    %input.showwhenedit{:type=>"file", :name=>"banner", :hidden=>"true"}
                    %input.showwhenedit{:type=>"checkbox", :name=>"delete_banner", :hidden=>"true"}
                    %span.showwhenedit{:hidden => "true"} Удалить
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %div.hidewhenedit{:style=>"padding-top: 5px; padding-bottom: 5px;"} Нет
                    %input.showwhenedit{:type=>"file", :name=>"banner", :hidden=>"true"}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"description"}
                  Описание деятельности
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите максимально подробно состав предоставляемых услуг, специализацию или любую другую информацию о вашей деятельности"}
                .uk-form-controls
                  %textarea#description.uk-width-1-1.editable{:type=>"text", :required=>"", :name=>"description", :readonly=>"", :rows=>"6"}
                    #{@current_user.description}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"description"}
              .uk-form-row
                %h3.uk-form-label{:for=>"pricelist"}
                  Прайслист
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Если у вас есть прайслист на услуги, то вы можете загрузить его для просмотра другими участниками Портала. Можно загружать файлы с расширением doc docx xls xlsx pdf txt"}
                -if @current_user.pricelist.present?
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %a{:href => "https://docs.google.com/viewer?url=http://"+request.host+":"+request.port.to_s+@current_user.pricelist.url} Просмотреть
                    %input.showwhenedit{:type=>"file", :name=>"pricelist", :hidden=>"true"}
                    %input.showwhenedit{:type=>"checkbox", :name=>"delete_pricelist", :hidden=>"true"}
                    %span.showwhenedit{:hidden => "true"} Удалить
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %div.hidewhenedit{:style=>"padding-top: 5px; padding-bottom: 5px;"} Нет
                    %input.showwhenedit{:type=>"file", :name=>"pricelist", :hidden=>"true"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"tags"}
                  Ключевые слова
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите (или выберите из списка) ключевые слова. Ключевые слова используются при поиске мастеров заказчиками "}
                .uk-form-controls
                  - if @tags.size > 0
                    %input#tags.uk-width-1-1.editable{:type=>"text", :name=>"tags", :readonly=>"", :value=>@tags}
                  - else
                    %input#tags.uk-width-1-1.editable{:type=>"text", :name=>"tags", :readonly=>""}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"email"}
                  Электронная почта
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите корректный адрес электронной почты. Он будет использоваться для входа на Портал и получения уведомлений"}
                .uk-form-controls
                  %input#email.uk-width-1-1.editable{:type=>"email", :required=>"", :value=>@current_user.email, :name=>"email", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"email"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"phone"}
                  Мобильный номер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите ваш мобильный номер начиная с '+7' или '8'"}
                .uk-form-controls
                  %input#phone.uk-width-1-1.editable{:type=>"text", :value=>@current_user.phone, :name=>"phone", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"phone"}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"location"} Населенный пункт
                .uk-form-controls
                  %input#fulllocation.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>Placement.get(@current_user.placement_id).location + (Placement.get(@current_user.placement_id).area.length > 1 ? ", " + Placement.get(@current_user.placement_id).area : "") + (Placement.get(@current_user.placement_id).region.length > 1 ? ", " + Placement.get(@current_user.placement_id).region : ""), :name=>"fulllocation", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"fulllocation"}
                  %input#locationtitle{:type=>"text", :name=>"locationtitle", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).location}
                  %input#area{:type=>"text", :name=>"area", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).area}
                  %input#region{:type=>"text", :name=>"region", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).region}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"maplabel"} Расположение на карте
                -if @current_user.mapx && @current_user.mapy
                  .uk-form-controls
                    #maplabel{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                      %a{:href=>"#openmap", "data-uk-modal" => "{bgclose:false}"} Показать
                -else
                  .uk-form-controls
                    #maplabel{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                      %a{:href=>"#openmap", "data-uk-modal" => "{bgclose:false}"} Определить
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"site"} На сайте с
                .uk-form-controls
                  %input#site.uk-width-1-1{:type=>"text", :required=>"", :value=>@current_user.created_at.strftime("%d.%m.%Y"), :readonly=>""}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"pass"} Моя страница
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                    %a{:href=>"/user/" + @current_user.id.to_s} Показать
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"pass"} Пароль
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                    %a.onscreenlink{:href=>"#changepass", "data-uk-modal" => "{bgclose:false}"} Изменить пароль
              %br
              / %a#editprofile.uk-button.uk-button-primary.uk-align-center.uk-text-center{:style => "cursor: pointer;"} Изменить профиль
              .uk-grid
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#apply.uk-button.uk-button-success{:type=>"submit", :style=>"display: none;"} Сохранить изменения
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#cancel.uk-button{:type=>"reset", :style=>"display: none;"} Отменить изменения
            %button#editprofile.uk-button.uk-button-success
              %i.uk-icon-edit
              Изменить
          %li#settings
            %form.uk-form.uk-form-horizontal{:action=>"/updatesettings", :method=>"post"}
              .uk-form-row{:style=>"margin-top: 5px; margin-bottom: 15px;"}
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Подписка
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Вы подписаны на получение информации о размещении заказ-нарядов в этих регионах"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if @subscription.size > 0
                    %input#subscription.uk-width-1-1{:type=>"text", :name=>"subscription", :value=>@subscription}
                  - else
                    %p Вы не подписаны ни на один регион
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Отображать адрес электронной почты
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите отображать ваш адрес электронной почты при просмотре другими участниками Портала вашей личной страницы"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "showemail")
                    %input{:type=>"checkbox", :name=>"showemail", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"showemail"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Отображать мобильный номер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите отображать ваш мобильный номер при просмотре другими участниками Портала вашей личной страницы"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "showphone")
                    %input{:type=>"checkbox", :name=>"showphone", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"showphone"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Дублировать уведомления на электронную почту 
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите дублировать получаемые уведомления на электронную почту"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "sendmessagestoemail")
                    %input{:type=>"checkbox", :name=>"sendmessagestoemail", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"sendmessagestoemail"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Получать важные новости сайта
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите получать от нас редкие, но важные новости о работе сайта"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "subscribed")
                    %input{:type=>"checkbox", :name=>"subscribed", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"subscribed"}
              %button.uk-button.uk-button-success{:type=>"submit"}
                %i.uk-icon-edit
                Сохранить
    -showverticalad

#changepass.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h1.uk-text-center Изменение пароля
    %hr
    %form#changepassword.uk-form.uk-form-horizontal{:action => "/changepassword", :method => "post"}
      .uk-form-row{:style=>"width: 400px;"}
        %label.uk-form-label{:for=>"oldpass"} Текущий пароль
        .uk-form-controls
          %input#oldpass{:type=>"password", :required=>"", :name=>"oldpass"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"oldpass"}
      .uk-form-row{:style=>"width: 400px;"}
        %label.uk-form-label{:for=>"newpass1"} Новый пароль
        .uk-form-controls
          %input#newpass1{:type=>"password", :required=>"", :name=>"newpass1"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"newpass1"}
      .uk-form-row{:style=>"width: 400px;"}
        %label.uk-form-label{:for=>"newpass2"} Повторите новый пароль
        .uk-form-controls
          %input#newpass2{:type=>"password", :required=>"", :name=>"newpass2"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"newpass2"}
      %br
      %button#submit.uk-button.uk-button-success.uk-align-center{:type=>"submit"} Изменить пароль

#openmap.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h3.uk-text-center Переместите крассный указатель в точку вашего расположения
    %hr
    #map{:style =>"width:550px; height:300px"}
    %form.uk-form.uk-form-horizontal{:action => "/setmap", :method => "post"}
      -if @current_user.mapx && @current_user.mapy
        %input#mapx{:type=>"text", :name=>"mapx", :hidden=>"true", :value=>@current_user.mapx}
        %input#mapy{:type=>"text", :name=>"mapy", :hidden=>"true", :value=>@current_user.mapy}
      -else
        %input#mapx{:type=>"text", :name=>"mapx", :hidden=>"true"}
        %input#mapy{:type=>"text", :name=>"mapy", :hidden=>"true"}
      %br
      %button#submit.uk-button.uk-button-primary.uk-align-center{:type=>"submit"} Ок

:javascript
  $(function() {

    if ($.cookie('activetab') == "offertab") {
      $('#offertab').trigger( "click" );
    }
    if ($.cookie('activetab') == "notificationtab") {
      $('#notificationtab').trigger( "click" );
    }
    if ($.cookie('activetab') == "profiletab") {
      $('#profiletab').trigger( "click" );
    }
    if ($.cookie('activetab') == "settingtab") {
      $('#settingtab').trigger( "click" );
    }
    if ($.cookie('activetab') == "chansetab") {
      $('#chansetab').trigger( "click" );
    }

    $('#offertab').click(function() {
      $.cookie('activetab', 'offertab');
    });
    $('#notificationtab').click(function() {
      $.cookie('activetab', 'notificationtab');
    });
    $('#profiletab').click(function() {
      $.cookie('activetab', 'profiletab');
    });
    $('#settingtab').click(function() {
      $.cookie('activetab', 'settingtab');
    });
    $('#chansetab').click(function() {
      $.cookie('activetab', 'chansetab');
    });

    $('#editprofile').click(function() {
      $('.editable').removeAttr("readonly");
      $('.editable').addClass("uk-form-success");
      $('#editprofile').css("display", "none");
      $('#apply').css("display", "inline-block");
      $('#cancel').css("display", "inline-block");
      $('.showwhenedit').removeAttr("hidden");
      $('.hidewhenedit').attr("hidden", "true");

      $('#tags').selectize({
        valueField: 'tag',
        labelField: 'tag',
        searchField: 'tag',
        plugins: ['remove_button'],
        delimiter: ',',
        persist: false,
        create: function(input) {
          return {
            tag: input
          }
        },
        render: {
          option: function(data, escape) {
            return '<div>"' + escape(data.tag) + '"</div>';
          }
        },
        load: function(query, callback) {
          if (!query.length) return callback();
          $.ajax({
            url : '/ajax/tags.json',
            dataType : 'json',
            success: function(res) {
              callback(res.tags);
            }
          });
        }
      });
      
    });

    $('#subscription').selectize({
      valueField: 'subscription',
      labelField: 'subscription',
      searchField: 'subscription',
      plugins: ['remove_button'],
      delimiter: ';',
      persist: false,
      create: false,
      load: function(query, callback) {
        if (!query.length) return callback();
        $.ajax({
          url : '/ajax/subscriptions.json',
          dataType : 'json',
          success: function(res) {
            callback(res.subscriptions);
          }
        });
      }
    });

    $('#cancel').click(function() {
      $('.editable').attr("readonly","");
      $('.editable').removeClass("uk-form-success");
      $('#editprofile').css("display", "inline-block");
      $('#apply').css("display", "none");
      $('#cancel').css("display", "none");
      $('.showwhenedit').attr("hidden", "true");
      $('.hidewhenedit').removeAttr("hidden");
    });

    $('#fulllocation').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                title: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 3,
      select: function (event, ui) {
        $('#locationtitle').val(ui.item.title);
        $('#area').val(ui.item.area);
        $('#region').val(ui.item.region);
        regionselected = true;
      }
    });

    var profilevalidator = $("#updateprofile").validate({
      debug: true,
      rules: {
        email: {
          required: true,
          email: true,
          remote: {
            url: "/ajax/checkemail",
            type: "post"
          }
        },
        name: {
          required: true,
          remote: {
            url: "/ajax/checkname",
            type: "post"
          }
        },
        familyname: {
          required: true,
          remote: {
            url: "/ajax/checkfamilyname",
            type: "post"
          }
        },
        fathersname: {
          required: false,
          remote: {
            url: "/ajax/checkfathersname",
            type: "post"
          }
        },
        servicename: {
          required: false,
          maxlength: 50
        },
        www: {
          required: false,
          maxlength: 50,
          url: true
        },
        phone: {
          remote: {
            url: "/ajax/checkphone",
            type: "post"
          }
        },
        fulllocation: {
          required: true,
          remote: {
            url: "/ajax/checklocation",
            type: "post",
            data: {
              locationtitle: function() {
                return $("#locationtitle").val()
              },
              area: function() {
                return $("#area").val()
              },
              region: function() {
                return $("#region").val()
              }
            }
          }
        },
        description: {
          required: false,
          maxlength: 65535
        }
      },
      messages: {
        email: "Введите корректный адрес электронной почты",
        name: "Введите имя контактного лица",
        familyname: "Введите фамилию контактного лица",
        farthersname: "Введите отчество контактного лица",
        fulllocation: "Выберите населенный пункт из списка",
        phone: "Введите мобильный телефонный номер",
        description: "Описание должно быть менее 65535 символов",
        www: "Введите адрес сайта начиная с http://",
        servicename: "Название автосервиса должно быть менее 200 символов"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });

        
    var passwordvalidator = $("#changepassword").validate({
      debug: true,
      rules: {
        oldpass: {
          required: true
        },
        newpass1: {
          required: true,
          minlength: 6
        },
        newpass2: {
          equalTo: "#newpass1"
        }
      },
      messages: {
        oldpass: "Введите текущий пароль",
        newpass1: "Введите пароль длиною не менее 6 символов",
        newpass2: "Ошибка при повторном вводе пароля"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
    ymaps.ready(init);

    function init() {
      var location = $('#fulllocation').val();
      var familyname = $('#familyname').val(), name = $('#name').val(), fathersname = $('#fathersname').val(), email = $('#email').val()
      var coords;
      var mapx = $('#mapx').val(), mapy = $('#mapy').val();
      var myGeocoder = ymaps.geocode(location, {results: 1});
      myGeocoder.then(function (res) {
        coords = res.geoObjects.get(0).geometry.getCoordinates();
        if (mapx>0 && mapy>0) {coords = [mapx,mapy];}
        var myMap = new ymaps.Map('map', {
            center: coords,
            zoom: 12,
            controls: ['zoomControl', 'searchControl']
        });
        //var mySearch = new ymaps.control.SearchControl({ noPlacemark: 'true' });
        //myMap.controls.add(mySearch);

        var myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
          balloonContentBody: [
            '<strong>',familyname,'</strong>',
            '<br/>',
            '<strong>',name,'</strong>',
            '<br/>',
            '<strong>',fathersname,'</strong>',
            '<br/>',
            'Электронная почта: <a href="mailto:">',email,'<a>'
          ].join('')
          }, {
            preset: 'islands#redDotIcon',
            draggable: true
          });

        myMap.geoObjects.add(myPlacemark);
        myMap.geoObjects.events.add('dragend', function (e) {
          // Получение ссылки на дочерний объект, на котором произошло событие
          var object = e.get('target');
          $('#mapx').val(object.geometry.getCoordinates()[0]);
          $('#mapy').val(object.geometry.getCoordinates()[1]);
        });
      });
    }
  });