.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-2-3
      %h1.uk-text-right  Сообщение
      -if @msg.receiver == current_user
        %ul.uk-subnav.uk-subnav-line.uk-text-right
          %li
            %a{:href=>"#"}
              %form{:action => "/message/"+@msg.id.to_s, :method => "post"}
                %input{:type=>"hidden", :name=>"_method", :value=>"put"}
                %input{:type=>"submit", :value=>"В архив", :style=>"background:none!important; border:none; padding:0!important;"}
                /В архив
          %li
            %a{:href=>"#"}
              %form{:action => "/message/"+@msg.id.to_s, :method => "post"}
                %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
                %input{:type=>"submit", :value=>"Удалить", :style=>"background:none!important; border:none; padding:0!important;"}
                /Удалить
      .uk-panel.uk-panel-box
        %table.uk-table.uk-table-striped
          %tbody
            %tr
              %td.uk-width-1-10.uk-text-center
                %i.uk-icon-user
              %td.uk-width-3-10
                %h3.uk-margin-bottom-remove Отправитель
              %td.uk-width-6-10
                -if @msg.sender.id != 1
                  %a{:href=>"/user/"+@msg.sender.id.to_s}
                    #{@msg.sender.displayedname}
                -else
                  #{@msg.sender.displayedname}
            %tr
              %td.uk-width-1-10.uk-text-center
                %i.uk-icon-calendar
              %td.uk-width-3-10
                %h3.uk-margin-bottom-remove Дата
              %td.uk-width-6-10
                #{@msg.date.strftime("%d.%m.%Y %H:%M")}
            //-if @order
            //  %tr
            //    %td.uk-width-1-10.uk-text-center
            //      %i.uk-icon-comments-o
            //    %td.uk-width-3-10
            //      %h3.uk-margin-bottom-remove Страница обсуждения заявки
            //    %td.uk-width-6-10
            //      %a{:href=>"/order/#{@order.id}/comments"}
            //        Перейти
            //-if @offer
            //  %tr
            //    %td.uk-width-1-10.uk-text-center
            //      %i.uk-icon-comments-o
            //    %td.uk-width-3-10
            //      %h3.uk-margin-bottom-remove Страница обсуждения предложения
            //    %td.uk-width-6-10
            //      %a{:href=>"/offer/#{@offer.id}/comments"}
            //        Перейти
        //%hr
        %h3
          =@msg.text
        //%hr
        -if @msg.sender.type != "Admin"
          %a.onscreenlink{:href=>"#message", "data-uk-modal"=>"{bgclode:false}"} Ответить отправителю
    -showverticalad

#openmap.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    #map{:style =>"width:550px; height:300px"}

#message.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h1 Отправить сообщение
    %form#newmessage.uk-form.uk-form-horizontal{:action => "/replyto?message=#{@msg.id}", :method => "post"}
      .uk-form-row
        %label.uk-form-label{:for=>"subject"}
          %h3 Тема
        .uk-form-controls
          %input#subject.uk-width-1-1{:type=>"text", :name=>"subject"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"subject"}
      .uk-form-row{:style=>"margin-top: 15px;"}
        %label.uk-form-label{:for=>"question"}
          %h3 Сообщение
        .uk-form-controls
          %textarea#question.uk-width-1-1{:type=>"text", :name=>"question", :rows=>"6"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"question"}
      .uk-container-center.uk-text-center{:style=>"margin-top: 20px;"}
        %button.uk-button.uk-button-success{:type=>"submit"}Отправить

:javascript
  var messagevalidator = $("#newmessage").validate({
    debug: true,
    rules: {
      subject: {
        required: true,
        minlength: 3,
        maxlength: 50
      },
      question: {
        required: true,
        maxlength: 65535
      }
    },
    messages: {
      subject: "Введите тему сообщения длинной от 3 до 50 символов",
      question: "Введите текст сообщения длинной до 65535 символов"
    },
    submitHandler: function(form) {
      form.submit();
    }
  });