.uk-container.uk-container-center
  %br
  .uk-grid
    .uk-width-1-1
      %h1.uk-text-right Обсуждение заявки № #{@order.id}
      .uk-panel.uk-panel-box
        %table.uk-table.uk-table-striped.uk-table-condensed
          %tbody
          %tr
            %td.uk-width-1-10.uk-text-center
              %i.uk-icon-wrench
            %td.uk-width-3-10
              %h3.uk-margin-bottom-remove Исходная заявка
            %td.uk-width-6-10
              %a{:href=>"/order/#{@order.id}"}
                Заявка № #{@order.id}
          %tr
            %td.uk-text-center
              %i.uk-icon-truck
            %td
              %h3.uk-margin-bottom-remove Автомобиль
            %td
              - brand(@order.vehicle.make)
              %div{:style=>"display: inline-block; vertical-align: middle;"}
                #{vehicleinfo(@order)}
          %tr
            %td.uk-text-center
              %i.uk-icon-wrench
            %td
              %h3.uk-margin-bottom-remove Описание
            %td
              %strong #{@order.subject}
          %tr
            %td.uk-text-center
              %i.uk-icon-calendar
            %td
              %h3.uk-margin-bottom-remove Сроки
            %td
              -if @order.td === @order.fd
                .uk-text-warning не определены
              -else
                #{@order.fd.strftime("%d.%m.%Y")} - #{@order.td.strftime("%d.%m.%Y")}
          %tr
            %td.uk-text-center
              %i.uk-icon-money
            %td
              %h3.uk-margin-bottom-remove Бюджет
            %td
              -if @order.budget < 0
                .uk-text-warning не определен
              -else
                #{rur @order.budget}
                / %i.uk-icon-rub
        /-if (@current_user.type == "Master") || (@current_user.type == "User" && @current_user == @order.user)
        -if (@current_user.type == "Master")
          %form#newmessage.uk-form.uk-form-horizontal{:action => "/addquestionto?order=" + @order.id.to_s, :method => "post"}
            .uk-form-row
              %label.uk-form-label{:for=>"question"}
                %h3 Текст
              .uk-form-controls
                %textarea#question.uk-width-1-1{:type=>"text", :required=>"", :name=>"question", :rows=>"6"}
                %br
                %label.error.uk-text-small.uk-text-danger{:for=>"question"}
            .uk-container-center.uk-text-center{:style=>"margin-top: 20px;"}
              -if @current_user.type == "User"
                %button.uk-button.uk-button-success{:type=>"submit"}Разместить доп.информацию
              -else
                %button.uk-button.uk-button-success{:type=>"submit"}Разместить вопрос
        %div{:class=>"yashare-auto-init", "data-yashareType"=>"link", "data-yashareQuickServices"=>"vkontakte,|,facebook,|,gplus,|,twitter,|,lj"}
      - if @rootquestions && @rootquestions.size > 0
        %h1.uk-text-right Вопросы и ответы
        - @rootquestions.each do |q|
          -showmessagebranch(q,0)
      - else
        .uk-alert.uk-alert-danger{"data-uk-alert"=>""}
          - if @current_user.type == "Master"
            %a.uk-alert-close.uk-close{:href=>""}
            Обсуждение заявки не велось. Если у вас есть вопрос, то задайте его в форме выше.
          - else
            %a.uk-alert-close.uk-close{:href=>""}
            Обсуждение заявки не велось.
    - showverticalad

:javascript
  $(function() {
    var questionvalidator = $("#newmessage").validate({
      debug: true,
      rules: {
        question: {
          required: true,
          maxlength: 65535
        }
      },
      messages: {
        question: "Введите текст сообщения длинной до 65535 символов"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });