.uk-container.uk-container-center
  %br
  / %h1#fullname.uk-text-left #{@current_user.fullname}
  .uk-grid
    .uk-width-2-3
      .uk-panel.uk-panel-box
        %h1.uk-panel-title.uk-text-right Личный кабинет
        %ul.uk-tab.uk-tab-grid.data-uk-tab{"data-uk-tab"=>"{connect:'#operation'}"}
          %li.uk-width-1-2.uk-active
            %a{:href=>""}
              %strong Профиль
              %span#editprofile.uk-text-small{:style => "position: relative; bottom: 10px;"}
                %i.uk-icon-edit-sign
                Изменить
          %li.uk-width-1-2
            %a{:href=>""}
              %strong Заявки
              %span#addorder.uk-text-small{:style => "position: relative; bottom: 10px;"}
                %i.uk-icon-plus-sign-alt
                Новая
        %ul#operation.uk-switcher.uk-margin
          %li
            %form.uk-form.uk-form-horizontal{:action => "/updateprofile", :method => "post"}
              .uk-form-row
                %label.uk-form-label Фотография
              .uk-form-row
                %label.uk-form-label Контактное лицо
                %input#fullname.uk-width-1-1{:type=>"text", :required=>"", :value=>@current_user.fullname, :name=>"fullname", :readonly=>"", :disabled=>""}
              .uk-form-row
                %label.uk-form-label Электронная почта
                %input#email.uk-width-1-1{:type=>"email", :required=>"", :value=>@current_user.email, :name=>"email", :readonly=>"", :disabled=>""}
              .uk-form-row
                %label.uk-form-label Населенный пункт
                %input#location.uk-width-1-1{:type=>"text", :required=>"", :value=>Placement.get(@current_user.placement_id).location + (Placement.get(@current_user.placement_id).area.length > 1 ? ", " + Placement.get(@current_user.placement_id).area : "") + (Placement.get(@current_user.placement_id).region.length > 1 ? ", " + Placement.get(@current_user.placement_id).region : ""), :name=>"location", :readonly=>"", :disabled=>""}
                %input#locationtitle{:type=>"text", :name=>"locationtitle", :hidden=>"true"}
                %input#area{:type=>"text", :name=>"area", :hidden=>"true"}
                %input#region{:type=>"text", :name=>"region", :hidden=>"true"}
              .uk-form-row
                %label.uk-form-label На сайте с
                %input.uk-form-width-large{:type=>"text", :required=>"", :value=>@current_user.created_at.strftime("%d.%m.%Y"), :readonly=>""}
              .uk-form-row
                %label.uk-form-label Пароль
                %div{:style=>"margin-top: 5px;"}
                  %a{:href=>"#changepass", "data-uk-modal" => "{bgclose:false}"}Изменить пароль
              %br
              / %a#editprofile.uk-button.uk-button-primary.uk-align-center.uk-text-center{:style => "cursor: pointer;"} Изменить профиль
              .uk-grid
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#apply.uk-button.uk-button-success{:type=>"submit", :style=>"display: none;"} Сохранить изменения
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#cancel.uk-button{:type=>"reset", :style=>"display: none;"} Отменить изменения
          %li
            - if @myactiveorders.size < 1
              %h3 Нет активных заявок
            - else
              %h3 Активные заявки
              .uk-grid
                .uk-width-1-3
                  %p.uk-text-small Заголовок
                .uk-width-2-3
                  .uk-grid
                    .uk-width-2-4
                      %p.uk-text-small Описание
                    .uk-width-1-4
                      %p.uk-text-center.uk-text-small Окончание
                    .uk-width-1-4
                      %p.uk-text-small Закрыть
                - @myactiveorders.each do |o|
                  .uk-width-1-3
                    %p.uk-text-truncate
                      %a{:href=>"/order/"+o.id.to_s} #{o.title}
                  .uk-width-2-3
                    .uk-grid
                      .uk-width-2-4
                        %p.uk-text-truncate #{o.subject}
                      .uk-width-1-4
                        -if o.td.strftime("%d.%m.%Y") != "01.01.3000"
                          %p.uk-text-center #{o.td.strftime("%d.%m.%Y")}
                        - else
                          %p.uk-text-center -
                      .uk-width-1-4
                        / %a{:href=>"/delorder/"+o.id.to_s}
                        /   %i.uk-icon-remove
                        %form{:action => "/closeorder/"+o.id.to_s, :method => "post"}
                          %button{:type => "submit"}
                            %i.uk-icon-minus
            %hr
            - if @myclosedorders.size < 1
              %h3 Нет закрытых заявок
            - else
              %h3 Закрытые заявки
              .uk-grid
                .uk-width-1-3
                  %p.uk-text-small Заголовок
                .uk-width-2-3
                  .uk-grid
                    .uk-width-2-4
                      %p.uk-text-small Описание
                    .uk-width-1-4
                      %p.uk-text-center.uk-text-small Окончание
                    .uk-width-1-4
                      %p.uk-text-small Удалить
                - @myclosedorders.each do |o|
                  .uk-width-1-3
                    %p.uk-text-truncate
                      %a{:href=>"/order/"+o.id.to_s} #{o.title}
                  .uk-width-2-3
                    .uk-grid
                      .uk-width-2-4
                        %p.uk-text-truncate #{o.subject}
                      .uk-width-1-4
                        %p.uk-text-center #{o.td.strftime("%d.%m.%Y")}
                      .uk-width-1-4
                        %form{:action => "/delorder/"+o.id.to_s, :method => "post"}
                          %button{:type => "submit"}
                            %i.uk-icon-remove
            %br
            / %a.uk-button.uk-button-primary.uk-align-center.uk-text-center{:href=>"/neworder"} Создать заявку
    .uk-width-1-3
      .uk-panel.uk-panel-box
        %h2 Yandex Direct AD

#changepass.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h1.uk-text-center Изменение пароля
    %hr
    %form.uk-form.uk-form-horizontal{:action => "/changepassword", :method => "post"}
      .uk-form-row
        %label.uk-form-label{:for=>"oldpass"} Текущий пароль
        %input#oldpass{:type=>"password", :required=>"", :name=>"oldpass"}
      .uk-form-row
        %label.uk-form-label{:for=>"newpass1"} Новый пароль
        %input#newpass1{:type=>"password", :required=>"", :name=>"newpass1"}
      .uk-form-row
        %label.uk-form-label{:for=>"newpass2"} Повторите новый пароль
        %input#newpass2{:type=>"password", :required=>"", :name=>"newpass2"}
      %br
      %button#submit.uk-button.uk-button-primary.uk-align-center{:type=>"submit"} Изменить пароль

:javascript
  var old_fullname;
  var old_email;
  var old_location
  $(function() {
    $('#editprofile').click(function() {
      $('#fullname').removeAttr("readonly");
      $('#fullname').removeAttr("disabled");
      $('#fullname').addClass("uk-form-success");
      $('#email').removeAttr("readonly");
      $('#email').removeAttr("disabled");
      $('#email').addClass("uk-form-success");
      $('#location').removeAttr("readonly");
      $('#location').removeAttr("disabled");
      $('#location').addClass("uk-form-success");
      $('#editprofile').css("display", "none");
      //$('#editprofile').addClass("uk-animation-slide-left");
      $('#apply').css("display", "inline-block");
      $('#cancel').css("display", "inline-block");
      $('#fullname').attr("contenteditable","");
    });

    $('#cancel').click(function() {
      $('#fullname').attr("readonly","");
      $('#fullname').attr("disabled","");
      $('#fullname').removeClass("uk-form-success");
      $('#email').attr("readonly","");
      $('#email').attr("disabled","");
      $('#email').removeClass("uk-form-success");
      $('#location').attr("readonly","");
      $('#location').attr("disabled","");
      $('#location').removeClass("uk-form-success");
      $('#editprofile').css("display", "inline-block");
      $('#apply').css("display", "none");
      $('#cancel').css("display", "none");
    });

    $('#location').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1&count=5",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#locationtitle').val(ui.item.value);
        $('#area').val(ui.item.area);
        $('#region').val(ui.item.region);
        regionselected = true;
      }
    });

    $('#addorder').click(function() {
      window.location.href = "/neworder";
    });
  });