.uk-container.uk-container-center
  %br
  / %h1#fullname.uk-text-left #{@current_user.fullname}
  .uk-grid
    .uk-width-2-3
      .uk-panel.uk-panel-box
        %h1.uk-text-right Личный кабинет
        %ul.uk-tab.uk-margin-bottom{"data-uk-tab"=>"{connect:'#operation'}"}
          %li#ordertab
            %a{:href=>"#"}
              Мои заявки
              /- if @newoffers.first > 0
              /  .uk-badge.uk-badge-notification.uk-badge-danger
              /    #{@newoffers.first}
          %li#notificationtab
            %a{:href=>"#"}
              Уведомления
              /- if @newmessages > 0
              /  .uk-badge.uk-badge-notification.uk-badge-danger
              /    #{@newmessages}
          %li#profiletab
            %a{:href=>"#"}
              Профиль     
          %li#settingtab
            %a{:href=>""} Настройки
        %ul#operation.uk-switcher
          %li#orders
            %ul.uk-tab.uk-margin-bottom.uk-tab-flip{"data-uk-tab"=>"{connect:'#allorders'}"}         
              %li
                %a{:href=>"#"}
                  Архив
              %li
                %a{:href=>"#"}
                  Действующие
              %li.uk-active
                %a{:href=>"#"}
                  Новая     
            %ul#allorders.uk-switcher   
              %li
                - if @myclosedorders.size < 1
                  %h3 Нет архивных заявок
                - else
                  .uk-width-1-1
                    %table.uk-table
                      %thead
                        %tr
                          %th.uk-width-3-10
                            Заголовок
                          %th.uk-width-3-10
                            Описание
                          %th.uk-width-1-10
                            Срок окончания
                          %th.uk-width-1-10
                            %i.uk-icon-eye{"data-uk-tooltip" => "", :title=>"Просмотры"}
                          %th.uk-width-1-10
                            %i.uk-icon-comments-o{"data-uk-tooltip" => "", :title=>"Предложения"}
                          %th.uk-width-1-10
                            %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title=>"Обсуждения"}
                      %tbody
                        - @myclosedorders.each do |o|
                          %tr
                            %td
                              %a{:href=>"/order/"+o.id.to_s} #{o.title}
                            %td
                              .uk-text-small #{o.subject}
                            %td
                              -if o.td != o.fd
                                .uk-text-center #{o.td.strftime("%d.%m.%Y")}
                              - else
                                .uk-text-center -
                            %td
                              #{o.views}
                            %td
                              #{Offer.count(:order_id => o.id)}
                            %td
                              #{Message.count(:order_id => o.id, :sender.not => current_user, :type => "Question")}
              %li
                - if @myactiveorders.size < 1
                  %h3 Нет активных заявок
                - else
                  .uk-width-1-1
                    %table.uk-table
                      %thead
                        %tr
                          %th.uk-width-3-10
                            Заголовок
                          %th.uk-width-3-10
                            Описание
                          %th.uk-width-1-10
                            Срок окончания
                          %th.uk-width-1-10
                            %i.uk-icon-eye{"data-uk-tooltip" => "", :title=>"Просмотры"}
                          %th.uk-width-1-10
                            %i.uk-icon-comments-o{"data-uk-tooltip" => "", :title=>"Предложения"}
                          %th.uk-width-1-10
                            %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title=>"Обсуждения"}
                            /Предложения / Вопросы
                      %tbody
                        - @myactiveorders.each do |o|
                          %tr
                            %td
                              %a{:href=>"/order/"+o.id.to_s} #{o.title}
                            %td
                              .uk-text-small #{o.subject}
                            %td
                              -if o.td != o.fd
                                .uk-text-center #{o.td.strftime("%d.%m.%Y")}
                              - else
                                .uk-text-center -
                            %td
                              #{o.views}
                            %td
                              #{Offer.count(:order_id => o.id)}
                            %td
                              #{Message.count(:order_id => o.id, :sender.not => current_user, :type => "Question")}
              %li
                %a#addorder{:href=>"/neworder"}
                  %button.uk-button.uk-button-success
                    %i.uk-icon-plus-square-o
                    Новая заявка
          %li#notifications
            %ul.uk-tab.uk-margin-bottom.uk-tab-flip{"data-uk-tab"=>"{connect:'#allnotifications'}"}
              %li
                %a{:href=>"#"}
                  Архив              
              %li.uk-active
                %a{:href=>"#"}
                  Входящие
            %ul#allnotifications.uk-switcher   
              %li
                - if @archivedmessages.size < 1
                  %h3 У вас нет архивных уведомлений
                - else
                  %table.uk-table
                    %thead
                      %tr
                        %th
                        %th
                          Тема
                        %th
                          Отправитель
                        %th
                          Дата
                        /%th
                        /  Сообщение
                    %tbody
                      - @archivedmessages.each do |m|
                        %tr
                          %td
                            -if m.unread
                              .uk-badge
                                Новое
                          %td
                            %a{:href=>"/message/"+m.id.to_s}
                              -if !m.subject
                                -case m.type
                                -when "Offer"
                                  = "Новое предложение"
                                -when "Question"
                                  = "Вопрос по заявке"
                                -when "Accept"
                                  = "Подтверждение начала работ"
                                -when "Refuse"
                                  = "Отказ исполнителя"
                              -else
                                #{m.subject}
                          %td
                            -if m.sender.id != 1
                              %a{:href=>"/user/"+m.sender.id.to_s}
                                #{m.sender.displayedname}
                            -else
                              #{m.sender.displayedname}
                          %td
                            #{m.date.strftime("%d.%m.%Y %H:%M")}
              %li
                - if @messages.size < 1
                  %h3 У вас нет входящих уведомлений
                - else
                  %table.uk-table
                    %thead
                      %tr
                        %th
                        %th
                          Тема
                        %th
                          Отправитель
                        %th
                          Дата
                        /%th
                        /  Сообщение
                    %tbody
                      - @messages.each do |m|
                        %tr
                          %td
                            -if m.unread
                              .uk-badge
                                Новое
                          %td
                            %a{:href=>"/message/"+m.id.to_s}
                              -if !m.subject
                                -case m.type
                                -when "Offer"
                                  = "Новое предложение"
                                -when "Question"
                                  = "Вопрос по заявке"
                                -when "Accept"
                                  = "Подтверждение начала работ"
                                -when "Refuse"
                                  = "Отказ исполнителя"
                              -else
                                #{m.subject}
                          %td
                            -if m.sender.id != 1
                              %a{:href=>"/user/"+m.sender.id.to_s}
                                #{m.sender.displayedname}
                            -else
                              #{m.sender.displayedname}
                          %td
                            #{m.date.strftime("%d.%m.%Y %H:%M")}
                          /%td
                          /  .uk-width-4-10.uk-text-truncate
                          /    #{m.text}
                          /%td.uk-width-1-10.uk-text-center
                          /  %form{:action => "/message/"+m.id.to_s, :method => "post"}
                          /    %input{:type=>"hidden", :name=>"_method", :value=>"put"}
                          /    %button{:type => "submit"}
                          /      %i.uk-icon-archive{"data-uk-tooltip" => "", :title=>"В архив"}
                          /%td.uk-width-1-10.uk-text-center
                          /  %form{:action => "/message/"+m.id.to_s, :method => "post"}
                          /    %input{:type=>"hidden", :name=>"_method", :value=>"delete"}
                          /    %button{:type => "submit"}
                          /      %i.uk-icon-trash-o{"data-uk-tooltip" => "", :title=>"Удалить"}          
          %li#profile
            %form#updateprofile.uk-form.uk-form-horizontal{:action => "/updateprofile", :method => "post", :enctype=>"multipart/form-data"}
              .uk-form-row.uk-margin{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"avatar"} Фотография
                -if @current_user.avatar.present?
                  .uk-form-controls
                    %img{:src => @current_user.avatar.avatar64.url}
                    %input#avatarfrm{:type=>"file", :name=>"avatar", :hidden=>"true"}
                -else
                  .uk-form-controls{:style=>"margin-top: 5px;"}
                    %span#avatarlbl Нет
                    %input#avatarfrm{:type=>"file", :name=>"avatar", :hidden=>"true"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"fullname"} Контактное лицо
                .uk-form-controls
                  %input#fullname.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>@current_user.fullname, :name=>"fullname", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"fullname"}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"email"}
                  Электронная почта
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите корректный адрес электронной почты. Он будет использоваться для входа на Портал и получения уведомлений"}
                .uk-form-controls
                  %input#email.uk-width-1-1.editable{:type=>"email", :required=>"", :value=>@current_user.email, :name=>"email", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"email"}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"phone"}
                  Мобильный номер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Укажите ваш мобильный номер начиная с '+7' или '8'"}
                .uk-form-controls
                  %input#phone.uk-width-1-1.editable{:type=>"text", :value=>@current_user.phone, :name=>"phone", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"phone"}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"location"} Населенный пункт
                .uk-form-controls
                  %input#fulllocation.uk-width-1-1.editable{:type=>"text", :required=>"", :value=>Placement.get(@current_user.placement_id).location + (Placement.get(@current_user.placement_id).area.length > 1 ? ", " + Placement.get(@current_user.placement_id).area : "") + (Placement.get(@current_user.placement_id).region.length > 1 ? ", " + Placement.get(@current_user.placement_id).region : ""), :name=>"fulllocation", :readonly=>""}
                  %br
                  %label.error.uk-text-small.uk-text-danger{:for=>"fulllocation"}
                  %input#locationtitle{:type=>"text", :name=>"locationtitle", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).location}
                  %input#area{:type=>"text", :name=>"area", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).area}
                  %input#region{:type=>"text", :name=>"region", :hidden=>"true", :value=>Placement.get(@current_user.placement_id).region}
              %hr
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"site"} На сайте с
                .uk-form-controls
                  %input#site.uk-form-width-large{:type=>"text", :required=>"", :value=>@current_user.created_at.strftime("%d.%m.%Y"), :readonly=>""}
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label{:for=>"pass"} Моя страница
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px; padding-top: 5px; padding-bottom: 5px;"}
                    %a{:href=>"/user/" + @current_user.id.to_s} Показать
              .uk-form-row{:style=>"margin-top: 20px;"}
                %h3.uk-form-label Пароль
                .uk-form-controls
                  #pass{:style=>"margin-top: 5px;"}
                    %a.onscreenlink{:href=>"#changepass", "data-uk-modal" => "{bgclose:false}"}Изменить пароль
              %br
              / %a#editprofile.uk-button.uk-button-primary.uk-align-center.uk-text-center{:style => "cursor: pointer;"} Изменить профиль
              .uk-grid
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#apply.uk-button.uk-button-success{:type=>"submit", :style=>"display: none;"} Сохранить изменения
                .uk-width-1-2.uk-container-center.uk-text-center
                  %button#cancel.uk-button{:type=>"reset", :style=>"display: none;"} Отменить изменения
            %button#editprofile.uk-button.uk-button-success
              %i.uk-icon-edit
              Изменить
          %li#settings
            %form.uk-form.uk-form-horizontal{:action=>"/updatesettings", :method=>"post"}
              .uk-form-row{:style=>"margin-top: 5px; margin-bottom: 15px;"}
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Отображать адрес электронной почты
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите отображать ваш адрес электронной почты при просмотре другими участниками Портала вашей личной страницы"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "showemail")
                    %input{:type=>"checkbox", :name=>"showemail", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"showemail"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Отображать мобильный номер
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите отображать ваш мобильный номер при просмотре другими участниками Портала вашей личной страницы"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "showphone")
                    %input{:type=>"checkbox", :name=>"showphone", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"showphone"}
              .uk-form-row
                %h3.uk-form-label{:style=>"width: 400px;"}
                  Дублировать уведомления на электронную почту 
                  %span.uk-display-inline
                    %i.uk-icon-question-circle{"data-uk-tooltip" => "", :title => "Отметьте флажок, если вы хотите дублировать получаемые уведомления на электронную почту"}
                .uk-form-controls{:style=>"margin-top: 10px; margin-left: 415px;"}
                  - if get_settings(current_user, "sendmessagestoemail")
                    %input{:type=>"checkbox", :name=>"sendmessagestoemail", :checked=>""}
                  - else
                    %input{:type=>"checkbox", :name=>"sendmessagestoemail"}
              %button.uk-button.uk-button-success{:type=>"submit"}
                %i.uk-icon-edit
                Сохранить          
    -if showverticalad?
      .uk-width-1-3
        .uk-panel.uk-panel-box
          %h2 Yandex Direct AD

#changepass.uk-modal
  .uk-modal-dialog.uk-modal-dialog-slide
    %a.uk-modal-close.uk-close
    %h1.uk-text-center Изменение пароля
    %hr
    %form#changepassword.uk-form.uk-form-horizontal{:action => "/changepassword", :method => "post"}
      .uk-form-row
        %label.uk-form-label{:for=>"oldpass"} Текущий пароль
        .uk-form-controls
          %input#oldpass{:type=>"password", :required=>"", :name=>"oldpass"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"oldpass"}
      .uk-form-row{:style=>"margin-top: 20px;"}
        %label.uk-form-label{:for=>"newpass1"} Новый пароль
        .uk-form-controls
          %input#newpass1{:type=>"password", :required=>"", :name=>"newpass1"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"newpass1"}
      .uk-form-row{:style=>"margin-top: 20px;"}
        %label.uk-form-label{:for=>"newpass2"} Повторите новый пароль
        .uk-form-controls
          %input#newpass2{:type=>"password", :required=>"", :name=>"newpass2"}
          %br
          %label.error.uk-text-small.uk-text-danger{:for=>"newpass2"}
      %br
      %button.uk-button.uk-button-primary.uk-align-center{:type=>"submit"} Изменить пароль

:javascript
  var old_fullname;
  var old_email;
  var old_location
  
  
  //$( window ).load(function() {
  //  $('#settingtab').trigger( "click" );
  //});
 
  
  $(function() {
    if ($.cookie('activetab') == "ordertab") {
      $('#ordertab').trigger( "click" );
    }
    
    if ($.cookie('activetab') == "notificationtab") {
      $('#notificationtab').trigger( "click" );
    }
    
    if ($.cookie('activetab') == "profiletab") {
      $('#profiletab').trigger( "click" );
    }
    
    if ($.cookie('activetab') == "settingtab") {
      $('#settingtab').trigger( "click" );
    }
    
    $('#editprofile').click(function() {
      $('.editable').removeAttr("readonly");
      $('.editable').addClass("uk-form-success");
      $('#editprofile').css("display", "none");
      $('#apply').css("display", "inline-block");
      $('#cancel').css("display", "inline-block");
      $('#avatarfrm').removeAttr("hidden");
      $('#avatarlbl').css("display", "none");
    });

    $('#cancel').click(function() {
      $('.editable').attr("readonly","");
      $('.editable').removeClass("uk-form-success");
      $('#editprofile').css("display", "inline-block");
      $('#apply').css("display", "none");
      $('#cancel').css("display", "none");
      $('#avatarfrm').attr("hidden", "true");
      $('#avatarlbl').css("display", "inline-block");
    });

    $('#fulllocation').autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://api.vk.com/method/database.getCities?v=5&country_id=1&count=5",
          dataType: "jsonp",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( $.map( data.response.items, function( item ) {
              return {
                label: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                value: item.title + (item.area ? ", " + item.area : "") + (item.region ? ", " + item.region : ""),
                title: item.title,
                area: item.area ? item.area : "",
                region: item.region ? item.region : ""
              }
            }))
          }
        });
      },
      minLength: 2,
      select: function (event, ui) {
        $('#locationtitle').val(ui.item.title);
        $('#area').val(ui.item.area);
        $('#region').val(ui.item.region);
        regionselected = true;
      }
    });

    /*
    $('#addorder').click(function() {
      window.location.href = "/neworder";
    });
    */
    
    $('#ordertab').click(function() {
      $.cookie('activetab', 'ordertab');
    });
    
    $('#notificationtab').click(function() {
      $.cookie('activetab', 'notificationtab');
    });
    
    $('#profiletab').click(function() {
      $.cookie('activetab', 'profiletab');
    });
    
    $('#settingtab').click(function() {
      $.cookie('activetab', 'settingtab');
    });
    
    var profilevalidator = $("#updateprofile").validate({
      debug: true,
      rules: {
        email: {
          required: true,
          email: true,
          remote: {
            url: "/ajax/checkemail",
            type: "post"
          }
        },
        fullname: {
          required: true,
          remote: {
            url: "/ajax/checkfullname",
            type: "post"
          }
        },
        phone: {
          remote: {
            url: "/ajax/checkphone",
            type: "post"
          }
        },
        fulllocation: {
          required: true,
          remote: {
            url: "/ajax/checklocation",
            type: "post",
            data: {
              locationtitle: function() {
                return $("#locationtitle").val()
              },
              area: function() {
                return $("#area").val()
              },
              region: function() {
                return $("#region").val()
              }
            }
          }
        }
      },
      messages: {
        email: "Введите корректный адрес электронной почты",
        fullname: "Введите полное имя контактного лица",
        fulllocation: "Выберите населенный пункт из списка",
        phone: "Введите мобильный телефонный номер"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
    
    var passwordvalidator = $("#changepassword").validate({
      debug: true,
      rules: {
        oldpass: {
          required: true
        },
        newpass1: {
          required: true,
          minlength: 6
        },
        newpass2: {
          equalTo: "#newpass1"
        }
      },
      messages: {
        oldpass: "Введите текущий пароль",
        newpass1: "Введите пароль длиною не менее 6 символов",
        newpass2: "Ошибка при повторном вводе пароля"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  });