.uk-container.uk-container-center
  %br
  / %h1#fullname.uk-text-left #{@current_user.fullname}
  .uk-grid
    .uk-width-2-3
      .uk-panel.uk-panel-box
        %h1.uk-panel-title.uk-text-right Информация
        .uk-grid.uk-grid-margin
          .uk-width-1-4
            %i.uk-icon-picture
            Фотография
          .uk-width-3-4
            фото dsfljksdfk jsdlafjlasdkjflksadjf sadfjsad;lfsald;fj adjsf l;asdf
            asdfljasdfl;jasd
            f sad
            fas;dlfj;asdfl'asdlf';sadfk asdf
            asdfsadf
          .uk-width-1-4
            %i.uk-icon-user
            Контактное лицо
          .uk-width-3-4
            #{@user.fullname}
          .uk-width-1-4
            %i.uk-icon-envelope
            Электронная почта
          .uk-width-3-4
            #{@user.email}
          .uk-width-1-4
            %i.uk-icon-globe
            Населенный пункт
          .uk-width-3-4
            = Placement.get(@user.placement_id).location + (Placement.get(@user.placement_id).area.length > 1 ? ", " + Placement.get(@user.placement_id).area : "") + (Placement.get(@user.placement_id).region.length > 1 ? ", " + Placement.get(@user.placement_id).region : "")
          .uk-width-1-4
            %i.uk-icon-calendar
            На сайте с
          .uk-width-3-4
            = @user.created_at.strftime("%d.%m.%Y")
    .uk-width-1-3
      .uk-panel.uk-panel-box
        %h2 Yandex Direct AD